In [1]:
from ExamDataScraper import ExamDataScraper
import pandas as pd

In [2]:
all_dfs = []

for page in range(1, 2001):
	if page % 100 == 0:
		print(f'Current iteration: {page}')
	scraper = ExamDataScraper('https://exam.naer.edu.tw', '/searchResult.php', page=page)
	df = scraper.get_dataframe()
	all_dfs.append(df)

combined_df = pd.concat(all_dfs, ignore_index=True)

Current iteration: 100
Current iteration: 200
Current iteration: 300
Current iteration: 400
Current iteration: 500
Current iteration: 600
Current iteration: 700
Current iteration: 800
Current iteration: 900
Current iteration: 1000
Current iteration: 1100
Current iteration: 1200
Current iteration: 1300
Current iteration: 1400
Current iteration: 1500
Current iteration: 1600
Current iteration: 1700
Current iteration: 1800
Current iteration: 1900
Current iteration: 2000

In [3]:
combined_df.to_csv('exam_data.csv', index=False, encoding='utf-8-sig')

In [4]:
combined_df.tail()

,Region,School,Grade,Term,Subject_Area,Subject,Exam,Publisher,Score,File_1,File_2
19987,彰化縣,縣立永豐國小,五年級,108 上學期,數學領域,數學,第一次段考(期中考),翰林,"3,205",https://exam.naer.edu.tw/otc/testStoreFile/100...,0
19988,彰化縣,縣立永豐國小,五年級,108 上學期,語文領域,國語,第一次段考(期中考),翰林,"2,220",https://exam.naer.edu.tw/otc/testStoreFile/100...,0
19989,彰化縣,縣立竹塘國小,三年級,108 上學期,語文領域,國語,第一次段考(期中考),南一,"2,837",https://exam.naer.edu.tw/otc/testStoreFile/100...,https://exam.naer.edu.tw/base/otc/testStoreFil...
19990,彰化縣,縣立永豐國小,二年級,108 上學期,,生活,第一次段考(期中考),南一,"1,195",https://exam.naer.edu.tw/otc/testStoreFile/100...,https://exam.naer.edu.tw/base/otc/testStoreFil...
19991,彰化縣,縣立舊館國小,二年級,108 上學期,語文領域,國語,第一次段考(期中考),康軒,"4,918",https://exam.naer.edu.tw/otc/testStoreFile/100...,https://exam.naer.edu.tw/base/otc/testStoreFil...